body{
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: azure;

}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 100px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125px;
}

.master-pick{
    display: flex;
    justify-content: center;
}

.pick{
    background: none;
    cursor: pointer;
    transition: 100ms;
    border-radius: 100%;
    width: 500px;
    height: 500px;
    margin: 5px;
}


.pick:hover{
    transform: scale(1.2);
}

.players{
    display: grid;
    margin-top: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
    font-size: 100px;
}


.chosen{
    display: grid;
    margin-top: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2,1fr);

}
.imgstyle{
}